.logo-img{
    height: 30px;
}
.btn-white{
    border: solid white;
}
.catalogo-libri{
    display: flex;
    justify-content: space-between;
    padding: 2rem 1rem;
}
.f-a-q{
    padding: 1rem;
}
.m-todo{
    margin-top: 2rem;
}
.s-text{
    font-size: 12px;
    display: ruby;
}
    